body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 500px;
    
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
caption{
    font-size:1em;
    font-weight: bold;
    padding:10px;
    background-color: lightgray;
}
thead{
    background-color: gray;
    color: white;
}
tfoot{
    background-color: gray;
    color: white;
}